<form #form="ngForm" class="container" (ngSubmit)="submit()">
  <div class="row">
    <input
      type="text"
      class="form-control bg-transparent col-12 mt-5"
      placeholder="title"
      [(ngModel)]="model.title"
      #noteTitle="ngModel"
      required
      [maxlength]="40"
      [ngClass]="{
        'is-invalid': noteTitle.touched && noteTitle.invalid,
        'is-valid': noteTitle.valid
      }"
      name="title"
    />
    <textarea
      class="form-control bg-transparent col-12 mt-5"
      placeholder="content"
      [(ngModel)]="model.content"
      #content="ngModel"
      required
      [maxlength]="1000"
      [ngClass]="{
        'is-invalid': content.invalid && content.touched,
        'is-valid': content.valid
      }"
      name="content"
    ></textarea>
  </div>
  <div class="d-flex justify-content-center mt-5">
    <button
      type="submit"
      class="btn-costume rounded mb-3"
      [disabled]="!form.valid"
    >
      finish
    </button>
  </div>
</form>
