<div class="card">
  <app-title [titleContent]="title" [titleColor]="titleColor"></app-title>
  <div class="container p-5 d-flex justify-content-center" id="about-container">
    <p>
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Possimus,
      reprehenderit consequatur, in quis nemo totam quasi debitis neque id dolor
      commodi magnam ducimus incidunt aspernatur laudantium accusamus alias illo
      provident perspiciatis sint sunt pariatur, qui iste. Deleniti modi,
      explicabo sint ab unde odio earum atque dolor nostrum minima quaerat
      voluptatum impedit soluta vel repellendus culpa aliquam quas fugiat
      repudiandae rem quidem architecto nobis ducimus? Expedita voluptate sint
      veritatis? Doloribus, commodi, magnam voluptatibus maxime voluptates
      ducimus quasi, dolorum ab accusantium ad unde mollitia rem praesentium
      corporis sit vero animi amet? Ad fugiat omnis veniam provident placeat in.
      Maxime veniam exercitationem nam est quia tempora, reprehenderit
      consequuntur expedita non vero quaerat! Tenetur, accusamus odit architecto
      assumenda earum vitae deleniti iure dolores dolore quae quas eaque odio
      quasi ex perspiciatis delectus voluptatibus quidem? Eveniet debitis
      laborum sit quibusdam nesciunt harum, distinctio odit? Eius pariatur
      necessitatibus obcaecati quam modi. Architecto eum accusantium, voluptas
      quas nihil iusto fuga veritatis nesciunt aperiam natus rem accusamus
      tempora facere consectetur quisquam, veniam voluptatem asperiores maxime
      ab! Voluptates doloribus assumenda sit laudantium nostrum fuga porro
      facilis quae nisi cupiditate, eum dolorum rem possimus ipsam odio
      consequatur odit quaerat praesentium iste? Necessitatibus, voluptate
      itaque accusamus ad sapiente in aliquam sit.
    </p>
  </div>
</div>
