<form #form="ngForm" class="container" (ngSubmit)="submit()">
  <div class="row">
    <input
      type="text"
      class="form-control bg-transparent col-12 mt-5"
      placeholder="title"
      [(ngModel)]="model.title"
      #noteTitle="ngModel"
      required
      [maxlength]="30"
      [ngClass]="{
        'is-invalid': noteTitle.touched && noteTitle.invalid,
        'is-valid': noteTitle.valid
      }"
      name="title"
    />
    <input
      class="form-control bg-transparent col-12 mt-5"
      placeholder="link"
      [(ngModel)]="model.link"
      #link="ngModel"
      required
      [maxlength]="80"
      [ngClass]="{
        'is-invalid': link.invalid && link.touched,
        'is-valid': link.valid
      }"
      name="link"
    />
  </div>
  <div class="d-flex justify-content-center mt-5">
    <button
      type="submit"
      class="btn-costume rounded mb-3"
      [disabled]="!form.valid"
    >
      finish
    </button>
  </div>
</form>
